* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  color: #434272;
}

body {
  padding: 1rem;
}

header h1 {
  background-image: -webkit-radial-gradient(afdaee, #6c6ab3);
  padding: 10px 15px;
  box-shadow: 0 0 10px 0 #9ccce2;
  color: #9ccce2;
  text-shadow: 2px 2px #270363;
}

.icon {
  padding-left: 5px;
}

.note {
  background: radial-gradient(#afdaee, #7e7cd3);
  border-radius: 7px;
  box-shadow: 0 0 10px 0 #434272;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  padding: 5px;
  float: right;
  border: none;
  margin-right: 10px;
  color: #b8c8ec;
  text-shadow: 0px 1px 0px #54178e;
  font-weight: 10px;
  font-size: 15px;
  border-radius: 20%;
  width: 50px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: radial-gradient(#343358, #6967a8);
}

.note button:hover {
  background: radial-gradient(#25243f, #545288);
  transform: translateY(1px);
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  font-family: 'Franklin Gothic Medium';
}

.grad {
  background-image: radial-gradient(circle, #9ccce2, #6c6ab3);
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: radial-gradient(circle, #a2d5ec, #585799);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px #8a8989;
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background: #e7def3;
}
form button {
  position: absolute;
  right: 30px;
  bottom: -20px;
  background: radial-gradient(circle, #91c2d8, #3a3966);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
}

form button:hover {
  transform: scale(1.3);
}
